@page "/counter"

@using Transformer_Forecasting_Web.ModelExecution
@inject ModelExecutor modelExecution

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="RemoveOutliers">Remove outliers</button>
<button class="btn btn-primary" @onclick="LinearPredict">Linear predict</button>
<button class="btn btn-primary" @onclick="RNNPredict">RNN predict</button>

@code {
    private int currentCount = 0;

    private void RemoveOutliers()
    {
        string arguments = string.Format("{0}", @"./ModelExecution/TFmain/DataHandling/removeOutliers.py");
        modelExecution.RunPythonScript(arguments);
        currentCount++;
    }

    private void LinearPredict()
    {
        string arguments = string.Format("{0} \"{1}\"", @"./ModelExecution/TFmain/executionproduction.py", "periodDescriptionTest");
        modelExecution.RunPythonScript(arguments);

        currentCount++;
    }

    private void RNNPredict()
    {
        string arguments = string.Format("{0} \"{1}\" \"{2}\" \"{3}\" \"{4}\" \"{5}\"", @"./ModelExecution/TFmain/executionproduction.py", "periodDescriptionTest", "2018-06-26 19:00:00", "2018-06-27 19:00:00");
        modelExecution.RunPythonScript(arguments);
        currentCount++;
    }
}
