<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4fd3229c-f353-48f8-9cea-e0ba25cb3d9e/resourceGroups/SW6/providers/Microsoft.Web/sites/SW6Blazor</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sw6blazor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8bf225d9-9e71-438f-be87-3061c78b088d</ProjectGuid>
    <PublishUrl>https://sw6blazor.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SW6Blazor</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>